uvicorn
dotenv
flask
boto3
fastapi
psycopg2-binary
psutil
frontend
tools
python-docx
google-generativeai
httpx
PyJWT
PyMuPDF==1.26.3
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-instrumentation==0.56b0
opentelemetry-instrumentation-asgi==0.56b0
opentelemetry-instrumentation-fastapi==0.56b0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
opentelemetry-util-http==0.56b0
python-multipart
python-pptx
cryptography
numpy